   <div class="row">
        <div class="col-xs-6">
          <div  style="background: #e6faff"  class="box box-solid">
            <div class="box-header">
              <i class="fa fa-bar-chart-o"></i>

              <h3 class="box-title">Project Status</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-default btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              
               <div class="box-body col-md-4">


            <a class="btn btn-app">
                <span class="badge bg-green add-projects"></span>
                <i class="fa fa-barcode"></i> Projects
            </a>
            <a class="btn btn-app">
                <span class="badge bg-purple add-employees"></span>
                <i class="fa fa-users"></i> Employee
            </a>
            <a class="btn btn-app">
                <span class="badge bg-teal">0</span>
                <i class="fa fa-inbox"></i> Orders
            </a>
            <a class="btn btn-app">
                <span class="badge bg-yellow">0</span>
                <i class="fa fa-bullhorn"></i> Notifications
            </a>
      
        </div>
                <!-- ./col -->
             
              <!-- /.row -->
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>

