<div class="modal fade" id="delete-dialog" tabindex="-1" role="dialog" aria-labelledby="mysmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="page-title"></h4>
        </div>
        <form id="delete-form">
        <div class="modal-body">
          <h3>Are you Sure</h3>
        <div class="modal-footer">
          <input type="hidden" name="id" />
          <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">No</button>
          <button type="submit" class="btn btn-danger btn-xs">Yes</button>
        </div>
      </form>
      </div>
      </div>
    </div>
  </div>

