<div class="client-popover" style="display: none">
    <div class="popover-body">
        <dl>
            <dt>
                Name:
            </dt>
            <dd>
                <span id="client-popover-name">
                    
                </span>
            </dd>
            <dt>
                Address:
            </dt>
            <dd>
                <span id="client-popover-address">
                    
                </span>
            </dd>
            <dt>
               Phone
            </dt>
            <dd>
                <span id="client-popover-phone">
                    
                </span>
            </dd>
        </dl>
        
    </div>
</div>
